@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}

body {
    background: #23272a; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;

    user-select: none;
}

#img {
    width: 10em;
    pointer-events: none;
}

#image-wrapper {
    text-align: center;
    margin: auto;
}

.google-btn {
    margin: auto;
    width: 80%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #292c30;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}
.google-btn .btn-text {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.google-btn:hover {
    box-shadow: 0 3px 8px rgba(114, 137, 218, .5);
    user-select: none
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #23272A;
    color: #fff;
    user-select: none
}

#redirect {
    opacity: 0;
}

#outdated-version {
    opacity: 0;
}
